<div class="container top-buffer bottom-buffer">
    
    <h1>Place New Job</h1>
    <p>If you have any questions, contact us here and we will assist you as soon as possible.</p>
    <div class="panel panel-default top-buffer bottom-buffer">

        <div class="panel-body">
            <%= render 'form' %>
        </div>
        
        <div class="panel-footer">
            <%= link_to 'Back', jobs_path %>
        </div>
    </div>

</div>