<div class="container top-buffer bottom-buffer">

    <div class="panel panel-default top-buffer bottom-buffer">
        <div class="panel-heading">
            <h1>New Job</h1>
        </div>
        
        <div class="panel-body">
            <%= render 'form' %>
        </div>
        
        <div class="panel-footer">
            <%= link_to 'Back', jobs_path %>
        </div>
    </div>

</div>